<%- include('partials/header', { title: 'Login' }) %>

<div class="container d-flex justify-content-center align-items-center" style="min-height:100vh;">
  <div class="card shadow p-4" style="width:400px;">
    
    <h4 class="text-center mb-4">Welcome Back</h4>

    <% if (error) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>

    <form id="login">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" id="email" class="form-control" required>
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>

      <div id="errorMsg" class="alert alert-danger d-none"></div>

      <button type="submit" class="btn  w-100" style="background-color:#6B2737; border-color:#6B2737; color:#fff;">Login</button>
    </form>
     <p class="text-center mt-3">
      Don't have an account? <a href="/signup">Sign Up</a>
    </p>

  </div>
</div>



<script>
  const redirectPath = new URLSearchParams(window.location.search).get('redirect') || '/home';
document.getElementById("login").addEventListener("submit",async(e)=>{
      e.preventDefault()

      const formData={
        email:document.getElementById("email").value,
        password:document.getElementById("password").value
    }
     const response=await fetch("/login",{
      method:"POST",
      headers:{'Content-Type':'application/json'},
      body:JSON.stringify(formData)
    })
    const data=await response.json()
    if (data.success) {
      window.location.href=redirectPath
    } else {
      const errorMsg=document.getElementById("errorMsg")
    errorMsg.textContent=data.error
    errorMsg.classList.remove("d-none")
    }
    })
 

</script>
<%- include('partials/footer') %>