<%- include('partials/header', { title: 'Signup' }) %>

<div class="container d-flex justify-content-center align-items-center" style="min-height:100vh;">
  <div class="card shadow p-4" style="width:400px;">
    
    <h4 class="text-center mb-4">Create Account</h4>

    
    <% if (error) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>

    <form id="signup">
      
      <div class="mb-3">
        <label>First Name</label>
        <input type="text" name="firstName" id="firstName" class="form-control" required>
      </div>

       <div class="mb-3">
        <label>Last Name</label>
        <input type="text" name="lastName" id="lastName" class="form-control" required>
      </div>

      <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" id="email" class="form-control" required>
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>

      <div class="mb-3">
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required>
      </div>
  <div id="errorMsg" class="alert alert-danger d-none"></div>
      <button type="submit" class="btn  w-100" style="background-color:#6B2737; border-color:#6B2737; color:#fff;">Sign Up</button>

    </form>

    <p class="text-center mt-3">
      Already have an account? <a href="/login">Login</a>
    </p>

  </div>
</div>


<script>
    setTimeout(() => {
        window.history.replaceState({}, document.title, window.location.pathname)
    }, 3000)

    document.getElementById("signup").addEventListener("submit",async(e)=>{
      e.preventDefault()

      const formData={
        firstName:document.getElementById("firstName").value,
        lastName:document.getElementById("lastName").value,
        email:document.getElementById("email").value,
        password:document.getElementById("password").value,
        confirmPassword:document.getElementById("confirmPassword").value,
    }

    const response=await fetch("/signup",{
      method:"POST",
      headers:{'Content-Type':'application/json'},
      body:JSON.stringify(formData)
    })
    const data=await response.json()
    
    if (data.success) {
      window.location.href=data.redirectUrl
    } else {
      const errorMsg=document.getElementById("errorMsg")
    errorMsg.textContent=data.error
    errorMsg.classList.remove("d-none")
    }
    })
</script>
<%- include('partials/footer') %>
